* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: black;
    color: white;
    text-align: center;
}

main {
    padding-top: 50px;
    display: flex;
    justify-content: space-around;
}

#izquierda {
    background: lightblue;
    width: 17.5%;
}

#principal {
    background: lightgreen;
    width: 45%;
}

#derecha {
    background: lightsalmon;
    width: 17.5%;
}

aside {
    background: lightpink;
    width: 10%;
}

.panel-de-noticias {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

article {
    margin: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid grey;
    background: white;
}

#alertas {
    margin: 10px;
    padding-bottom: 10px;
}

#alertas span {
    border-radius: 10px;
    padding: 0 10px;
    background: tomato;
}