main {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: flex-start;
}

article {
    width: 22.5%;
    border: 1px solid black;
    margin-bottom: 30px;
    position: relative;
}

article img {
    width: 100%;
}

article p, 
article strong {
    display: block;
    text-align: center;
}

article span {
    background-image: url('favorito.png');
    background-size: cover;
    width: 32px;
    height: 32px;
    display: inline-block;
    position: absolute;
    bottom: 80px;
    right: 10px;
}