header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background: black;
    display: flex;
}

header img {
    height: 80%;
    padding: 6px;
}

header nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

header ul {
    list-style: none;
}

header nav ul li {
    display: inline;
    padding: 0px 10px;
}

header a {
    color: white;
    text-decoration: none;
}

main {
    padding-top: 70px;
}

main section {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 30px;
}

main div img.img_seccion {
    width: 100%;
}

.columna-30 {
    width: 30%;
}

.columna-40 {
    width: 40%;
}

.columna-50 {
    width: 50%;
}

.columna-60 {
    width: 60%;
}